[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/nervosnetwork/secp256k1
[submodule "deps/ckb-c-std-lib"]
	path = deps/ckb-c-std-lib
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
[submodule "deps/ckb-c-stdlib-add-identity"]
	path = deps/ckb-c-stdlib-add-identity
	url = https://github.com/XuJiandong/ckb-c-stdlib.git
	branch = add-identity
