target/
build/
!build/.gitkeep
tests/xudt_rce/simulator-build-debug
tests/xudt_rce/smt_fuzzer/smt_fuzzer.dSYM
smt_coverage
smt_fuzzer
.vscode
cmake-build-debug
tests/validate_signature_rsa/build.simulator
tests/validate_signature_rsa/corpus
tests/validate_signature_rsa/dlopen_fuzzer.dSYM
tests/validate_signature_rsa/dlopen_coverage
tests/validate_signature_rsa/dlopen_fuzzer
tests/validate_signature_rsa/coverage
tests/validate_signature_rsa/fuzz-*.log

tests/auth/simulator-build-debug
vscode-cmake-build
